<div>
  <mat-toolbar color="primary" class="mat-elevation-z8">
    <mat-icon><span class="material-symbols-outlined">
menu_book
</span></mat-icon> CookBook

    <a mat-button routerLink="home">Home</a>
    <a mat-button routerLink="about-us">About us</a>

    <div class="navbar-spacer"></div>

    <a mat-button routerLink="/user-profile" *ngIf="isUserLoggedIn()">Profile</a>
    <a mat-button routerLink="login">Login</a>
    <a mat-raised-button color="accent" routerLink="register">Register</a>
    <a mat-button (click)="logOut()" color="warn" *ngIf="isUserLoggedIn()" routerLink="/home">Log Out</a>
  </mat-toolbar>
</div>
