<div>
  <mat-toolbar color="primary" class="mat-elevation-z8">
    <mat-icon><span class="material-symbols-outlined">
menu_book
</span></mat-icon> CookBook

    <a mat-button routerLink="home">Home</a>
    <a mat-button routerLink="about-us">About us</a>

    <div class="navbar-spacer"></div>

    <a mat-button routerLink="/user-profile" *ngIf="isLoggedInAsUserChecker()">
      Profile
      <mat-icon>edit</mat-icon>
    </a>

    <a mat-button routerLink="/admin-profile" *ngIf="isLoggedInAsAdminChecker()">
      Profile
      <mat-icon>edit</mat-icon>
    </a>
    <a mat-button routerLink="login" *ngIf="isLoggedOutChecker()">Login</a>
    <a mat-raised-button color="accent" routerLink="register" *ngIf="isLoggedOutChecker()">Register</a>
    <a mat-raised-button (click)="logOut()" color="warn" *ngIf="isLoggedInAsUserChecker() || isLoggedInAsAdminChecker()" routerLink="/home">Log Out</a>
  </mat-toolbar>
</div>
