<div class="login" fxLayoutAlign="center center" fxFlexFill >
  <mat-card fxFlex="45" class="mat-elevation-z8">
    <mat-toolbar color="primary">Login Page</mat-toolbar>
    <form class="login-form" fxLayoutAlign="stretch" fxLayout="column" ngModel #form="ngModel">
      <mat-form-field>
        <input matInput placeholder="Email" required name="email" ngModel #email="ngModel">
        <mat-icon matSuffix>mail</mat-icon>
        <mat-error *ngIf="email.invalid">Email is required!</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="password" placeholder="Password" required name="password" ngModel #password="ngModel">
        <mat-icon matSuffix>lock</mat-icon>
        <mat-error *ngIf="password.invalid">Password is required!</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Admin ID" required name="adminId" ngModel #password="ngModel">
        <mat-icon matSuffix>lock</mat-icon>
      </mat-form-field>
      <a mat-raised-button type="submit" color="primary" routerLink="/home">Login</a>
    </form>
  </mat-card>
</div>
