<div class="create" fxLayoutAlign="center center" fxFlexFill>
  <mat-card fxFlex="45" class="mat-elevation-z8">
    <mat-toolbar color="primary">Add A New Recipe!</mat-toolbar>

    <form [formGroup]="createForm" (ngSubmit)="createPost()" class="create-post-form" fxLayoutAlign="stretch" fxLayout="column">
      <mat-form-field>
        <input matInput formControlName="title" placeholder="Title">
        <mat-icon matSuffix>menu_book</mat-icon>
      </mat-form-field>

      <mat-form-field class="content-form">
        <input matInput formControlName="content" placeholder="Content">
        <mat-icon matSuffix>restaurant</mat-icon>
      </mat-form-field>

      <button mat-raised-button type="submit" color="primary">Submit</button>
      <br>
      <button mat-raised-button routerLink="/home" color="primary">Cancel</button>
    </form>
  </mat-card>
</div>
