
<div>
  <mat-card *ngFor="let post of posts">
    <mat-card-title>{{post.title}}</mat-card-title>
    <mat-card-content>{{post.content}}</mat-card-content>
    <a mat-raised-button color="primary" (click)="likePost(post.id)">Like</a>
    <a mat-raised-button color="warn" (click)="dislikePost(post.id)">Dislike</a>
    <br>
    <br>
    <p>{{post.likeCounter}} Likes</p>
    <p>{{post.dislikeCunter}} Dislikes</p>
    <mat-list>
      Comments
      <a mat-raised-button color="primary" (click)="goToCreateComment(post.id)">Add a comment!</a>
      <mat-list-item *ngFor="let comment of comments">
        <div class="comment-block">
          {{comment.content}}
          <span>
            <a mat-button ><mat-icon >delete</mat-icon></a>
          </span>
        </div>
      </mat-list-item>
      <mat-list-item ></mat-list-item>
    </mat-list>
  </mat-card>
</div>
